h1
{
    color:brown
}

body 
{
    background-color:rgb(255, 255, 255);
}

div 
{
background-color:beige;
margin: 10px;
padding: 10px;
}

.completed
{
    color:grey;
    text-decoration: line-through;
}